.header{
    text-align: center;
    h1{
        padding-top: 20px;
    }
    h2{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    a{
        padding: 10px;
        text-decoration: none;
    }
}

